:root{
    /* VARIABLES */
    --dark-blue: #565676;
    --light-blue: #1091e4;
    --black-fade: rgba(0, 0, 0, 0.438);
    --bright-orange: #FFC857;

    --default-padding: 25px;
}

*{
    /* reset margin, padding, box-sizing */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--dark-blue);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--default-padding);

    font-family: Roboto, sans-serif;
    color: white;

    min-height: 90vh;
}

/* ============================ */
/* ========= BIO  BOX ========= */
/* ============================ */

.container-main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45rem;

    border-radius: 50px;
    border-width: 10px;
    border-style: solid;

    margin: var(--default-padding);
    padding: var(--default-padding);
}

.line-break{
    width: 30%;
    height: 2px;

    border-radius: 1px;

    background-color: white;
}

.header-name{
    font-family: Righteous, sans-serif;
    font-size: 6rem;
    text-align: center;

    margin: var(--default-padding);
}

.paragraph-bio{
    width: 50ch;
    text-align: justify;

    margin: 35px;
}

/* --------- BUTTON LINKS --------- */

.container-button-links{
    height: 5rem;
    width: 30rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-single-button{
    width: 5rem;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button-links a{
    font-size: 3rem;
    letter-spacing: 1rem;

    color:rgba(255, 255, 255, 0.555);

    transition-duration: 250ms;
    transition-property: font-size;
}

.container-button-links a:hover{
    color: var(--bright-orange);

    font-size: 3.5rem;
}

/* ============================ */
/* ====== IMAGE CAROUSEL ====== */
/* ============================ */

.container-images{
    position: relative;  
    display: flex;  
    justify-content: center;

    width: 500px;
    height: 500px;

    overflow: hidden;

    border-radius: 50px;
    border: 10px solid white;
}

.image{
    width: 100%;
    height: 100%;
}

/* IMAGE BUTTON DIVS */

.button-previous, .button-next{
    position: absolute;
    z-index: 1;
    align-self:center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.192);
    border: white 3px solid;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 2rem;
    font-family: Righteous, sans-serif;

    cursor: pointer; 
}

.button-previous:hover, .button-next:hover{
    opacity: 0.9;
}

.button-previous{
    left: 5%;
}

.button-next{
    right: 5%;
}

/* - prevent highlighting - */
.container-images p, .image{
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
     -khtml-user-select: none;      /* Konqueror HTML */
       -moz-user-select: none;      /* Old versions of Firefox */
        -ms-user-select: none;      /* Internet Explorer/Edge */
            user-select: none;      /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

/* ================================= */
/* ======= MOBILE RESPONSIVE ======= */
/* ================================= */

@media (max-width: 600px){
    .container-main-content, .container-images,
    .image, .paragraph-bio{
        border-radius: 0px;
        border-color: white;

        width: 100%; 
    }
    .container-button-links{
        width: 80%;
    }

    .container-main-content{
        margin-top: 0px;
    }
    
    body{
        padding: 0px;
    }
}
